[submodule "z-zsh"]
	path = z-zsh
	url = https://github.com/rupa/z.git
[submodule "powerlevel10k"]
	path = powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "us-with-german-umlauts"]
	path = us-with-german-umlauts
	url = https://github.com/patrick-zippenfenig/us-with-german-umlauts.git
	branch = master
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
	branch = master
