"*":
  "atom-beautify":
    bash:
      beautify_on_save: true
    js:
      beautify_on_save: true
    json:
      beautify_on_save: true
    markdown:
      beautify_on_save: true
    php:
      beautify_on_save: true
    python:
      beautify_on_save: true
  "atom-gpg": {}
  core:
    disabledPackages: [
      "metrics"
      "exception-reporting"
      "linter"
      "atom-beautify"
    ]
    telemetryConsent: "no"
  editor:
    softWrap: true
  "file-icons":
    coloured: false
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  "tree-view":
    hideVcsIgnoredFiles: true
  "unity-ui":
    showIcons: true
  welcome:
    showOnStartup: false
